@using ShopThuCung_2021.Data
@inject NavigationManager nav
@inject ShopThuCung_2021.Data.Session ss
    <nav class="main-header navbar navbar-expand navbar-white navbar-light"style="height:74px">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li style="display:@check_quyen" class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="#" class="nav-link">Contact</a>
            </li>
        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <!-- Navbar Search -->
            <li class="nav-item">
                <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                    <i class="fas fa-search"></i>
                </a>
                <div class="navbar-search-block">
                    <form class="form-inline">
                        <div class="input-group input-group-sm">
                            <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-navbar" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                                <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </li>

            <!-- Messages Dropdown Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fa-comments"></i>
                    <span class="badge badge-danger navbar-badge">3</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <a href="#" class="dropdown-item">
                        <!-- Message Start -->
                        <div class="media">
                            <img src="dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    Brad Diesel
                                    <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                </h3>
                                <p class="text-sm">Call me whenever you can...</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                            </div>
                        </div>
                        <!-- Message End -->
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <!-- Message Start -->
                        <div class="media">
                            <img src="dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    John Pierce
                                    <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                </h3>
                                <p class="text-sm">I got your message bro</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                            </div>
                        </div>
                        <!-- Message End -->
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <!-- Message Start -->
                        <div class="media">
                            <img src="dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    Nora Silvester
                                    <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                </h3>
                                <p class="text-sm">The subject goes here</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                            </div>
                        </div>
                        <!-- Message End -->
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                </div>
            </li>
            @if (check_drop)
            {
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#" style="padding:0 11px">
                        <img style="border-radius:50%;height:45px;" src="@img" />
                        <span class="badge badge-warning navbar-badge"></span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="min-width:144px;top:52px">
                        <div class="dropdown-divider"></div>
                        <a @onclick="profile" class="dropdown-item dropdown-footer">
                            <i class="fas fa-file mr-2"></i> Hồ sơ

                        </a>
                        <div class="dropdown-divider"></div>
                        <a @onclick="ClearSS" class="dropdown-item dropdown-footer">
                            <i class="fas fa-file mr-2"></i>Đăng xuất
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <p>@fullname</p>
                    </a>
                </li>
            }


            @if (!check_drop)
            {
        <li class="nav-item">
            <button type="button" @onclick="ClearSS" class="btn btn-light">Đăng nhập</button>
        </li>
            }

        </ul>
    </nav>
@code{ 
    string name = "";
    string fullname = "";
    string img = "";
    string check_quyen = "";
    bool check_drop = true;
    async Task ClearSS()
    {
        await ss.ClearSS();
        nav.NavigateTo("/login");
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if (firstRender)
        {

            // fullname = await ss.Get_FullName();
            // img += await ss.Get_Path();
            // check_quyen = await ss.Get_Quyen();
            // name = await ss.Get_LoginUser();
            if (await ss.Get_LoginUser() == null)
            {
                check_drop = false;
                check_quyen = "none";

            }
            else
            {
                fullname = await ss.Get_FullName();
                if (await ss.Get_Quyen() != "Admin")
                {
                    check_quyen = "none";
                }
                if (await ss.Get_Path() == null)
                {
                    img = "/IMG_1/bussiness-man.png";
                }
                else
                {
                    img = await ss.Get_Path();
                }


            }


        }
        StateHasChanged();
    }
    void profile()
    {
        nav.NavigateTo("/profile");
    }
}
